body{
  background-color: red;
   color: #dddddd;
  font-family: Papyrus, Helvetica, sans-serif;
  margin: 20% 15%;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLeu3j4iBlJ3p9WiSboaouvtgwjYfd8PsNCA&usqp=CAU')
}

  font-family:papyrus; 
}

.exp-header{
  border-top:1px solid #dddddd
    
   
}


.exp-header2{
  border-bottom:1px solid #dddddd
}

ul{
   list-style-type: square;
}

h3 {
 border-style: dotted solid double; 
}

